<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>UMNian</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/savepost">
            <ion-label>Save Article</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item lines="none" routerLink="/my-post">
              <ion-label>My Post</ion-label>
            </ion-item>
          </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/about-us">
            <ion-label>About Us</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item lines="none" (click)="onLogout()" button>
              <ion-icon name="exit" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- <ion-menu side="end" menuId="m2">
    <ion-content>
      <img src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png" href="/home">
    </ion-content>
  </ion-menu> -->

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
