<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
    <!-- <ion-buttons slot="end">
      <a [routerLink]="['/profile']"><img src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png" style="width:50px;height:50px;"/></a>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center">
    <img src="https://ultimasonora.weebly.com/uploads/2/5/3/7/25371606/5796110.png" style="width:150px;height:150px;"/>
    <h1>Ultima Sonora</h1>
    <h2>Paduan Suara atau choir dari kampus Universitas Multimedia Nusantara</h2>
    <ion-item-divider></ion-item-divider>
    <h1>Artikel</h1>
    <h1>Ultima Sonora raih dua emas di Thailand</h1>
    <h2>UKM KAMPUS</h2>
  </div>
</ion-content>